button,
.button {
  width: 150px;
  border-radius: $border-radius;
  line-height: 40px;
  font-size: $body-font-size;
  color: #fff;
  font-weight: 600;
  background: $primary-color;
  border: 1px solid $primary-bark;
  box-shadow: 0 1px 4px #455a64;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}