.search {
  width: 46%;
  margin-bottom: 20px;
  float: left;
  //
  input {
    background: #fff;
    color: $font-color;
    border: none;
    width: 100%;
    height: 30px;
    font-size: $body-font-size;
  }
}