.main-container {
  width: 100%;
  max-width: 1100px;
  min-width: 600px;
  margin: auto;
  background: $secondary-bark;
  padding: 30px 50px;
  color: $font-color;
}

.header {
  background: $primary-bark;
  color: #fff;
  padding: 10px 50px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: $secondary-color;
}

p {
  font-size: $body-font-size;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;

  &:after, &:before {
    box-sizing: border-box;
  }

  &:focus, &:active {
    outline: none;
  }
}

ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}