$primary-color: #1e88e5;
$primary-bark: #005cb2;
$secondary-color: #F5F5F6;
$secondary-bark: #E1E2E1;

$border-color: $primary-color;
$font-color: #29434e;

$body-font-size: 16px;

$border-radius: 3px;